# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Editors
.vscode/
.idea/

# Backup files
*~
.*.un~

# Build artifacts
build/
dist/
*.egg-info/

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/
